################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# .NET Core
## Ignore build results
**/bin/
**/obj/
/.vs/

# Ignore .dll files
*.dll

# Ignore .pdb files
*.pdb

## User-specific files
.vs/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates