################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# .NET Core
## Ignore build results
**/bin/
**/obj/
/.vs/
/CandidateManagementSystem.Services/bin/
/CandidateManagementSystem.Services/obj/
/CandidateManagementSystem.Repository/bin/
/CandidateManagementSystem.Repository/obj/
/CandidateManagementSystem.Model/obj/

# Ignore .dll files
*.dll

# Ignore .pdb files
*.pdb

## User-specific files
.vs/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates
/CandidateManagementSystem.Repository/obj/Debug/net7.0/CandidateManagementSystem.Repository.genruntimeconfig.cache
/.vs/CandidateManagementSystem/v17/DocumentLayout.json
/CandidateManagementSystem.Model/obj/Debug/net7.0/CandidateManagementSystem.Model.assets.cache
/CandidateManagementSystem.Model/obj/Debug/net7.0/CandidateManagementSystem.Model.csproj.FileListAbsolute.txt
/CandidateManagementSystem.Repository/obj/Debug/net7.0/CandidateManagementSystem.Repository.csproj.FileListAbsolute.txt
/CandidateManagementSystem.Repository/obj/Debug/net7.0/CandidateManagementSystem.Repository.assets.cache
/CandidateManagementSystem.Services/obj/Debug/net7.0/CandidateManagementSystem.Services.csproj.FileListAbsolute.txt
/CandidateManagementSystem.Services/obj/Debug/net7.0/CandidateManagementSystem.Services.assets.cache
