################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# .NET Core
## Ignore build results
bin/
obj/

## User-specific files
.vs/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates